alias aaa='sudo apt-get update && sudo apt-get dist-upgrade && sudo apt-get autoremove'
cpB() { for f in "$@"; do cp "$f" "$f.$(date +%FT%H:%M:%S)"; done; }
alias arst='setxkbmap us && xset -r 66 && xmodmap ~/.xmodmap && xset r 133'
alias asdf='setxkbmap us -variant colemak && xset r 66 && xmodmap ~/.xmodmap && xset r 133'
alias cpR='rsync -ah --progress'
alias df='df -hT'
alias diff='colordiff'
alias dpkgg='dpkg -l | grep -i --color=auto'
alias mkdir='mkdir -p -v'
alias pG='ps aux | grep'
alias tmuxd='tmux -f $HOME/.tmux.default.conf attach'
alias wL='nmcli device wifi list'
alias wU='nmcli connection up id'
wUU() { nmcli device wifi connect $1 password $2; }
alias wD='nmcli connection down id'
