! ~/.Xresources
!
! Source: https://github.com/vonbrownie/dotfiles/blob/master/.Xresources
! Refresh config by running `xrdb -merge ~/.Xresources`.

! == Colours ==
*.foreground:   #31a354
*.background:   #000000
*.cursorColor:  #ef2929

! black
*.color0:       #000000
*.color8:       #737475

! red
*.color1:       #e31a1c
*.color9:       #e31a1c

! green
*.color2:       #31a354
*.color10:      #31a354

! yellow
*.color3:       #dca060
*.color11:      #dca060

! blue
*.color4:       #3182bd
*.color12:      #3182bd

! magenta
*.color5:       #756bb1
*.color13:      #756bb1

! cyan
*.color6:       #80b1d3
*.color14:      #80b1d3

! white
*.color7:       #b7b8b9
*.color15:      #fcfdfe

! == Urxvt ==
URxvt.scrollBar:    false
URxvt.saveLines:    8888

! Test out fonts in a live terminal before committing to the config by
! printing escape codes in the terminal.
! Example: `printf '\e]710;%s\007' "xft:DejaVu Sans Mono:pixelsize=12"`
URxvt.font:         xft:DejaVu Sans Mono:pixelsize=16
!URxvt*letterSpace:  -1

! Extensions
Urxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt.perl-ext-common:  default,matcher,url-select,keyboard-select
URxvt.colorUL:      #87afd7
! matcher
URxvt.url-launcher:     /usr/bin/xdg-open
URxvt.matcher.button:   1
! url-select
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.url-select.underline: true
! keyboard-select
URxvt.keysym.M-Escape:  perl:keyboard-select:activate

! == Rofi ==
! "Hide scroll-bar"
rofi.hide-scrollbar:    true
! "Separator style (none, dash, solid)"
rofi.separator-style:	solid
rofi.color-enabled: 	true
! "Color scheme window"
rofi.color-window: #000000, #2a373e, #000000
! "Color scheme for normal row"
rofi.color-normal: #000000, #fafbfc, #000000, #c14e4e, #000000
! "Color scheme for active row"
rofi.color-active: #000000, #c14e4e, #000000, #009688, #000000
! "Color scheme for urgent row"
rofi.color-urgent: #000000, #ff0000, #000000, #ff0000, #000000
