xModmap() {
# ~/.xmodmap - Caps_Lock modified to Backspace... make it a repeating key
xmodmap ~/.xmodmap && xset r 66
}

xInput() {
# Thinkpad USB keyboard - "Device Accel Constant Deceleration" configures the
# sensitivity of the trackpoint. Find <id> with 'xinput list | grep pointer'
# and <id> properties with 'xinput list-props <id>'.
xinput set-prop 10 "Device Accel Constant Deceleration" 0.50
}

#: START
xModmap
xInput
